.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  background-color:#f2f2f2;
}

.logo {
  width: 228px;
  height: 32px;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header_title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header_subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header_link {
  text-decoration: none;
  color: #2f80ed;
}

.header_main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header_square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  background-color:#2f80ed;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  margin-top: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns_brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;
  margin: 0;

}

.two-columns_main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns_paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.two-columns_span-accent {
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
}

.section-title {
  width: 60%;
  margin: 100px auto auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 100px auto;
  
}

.table_cell {
  width: 250px;
  margin-top: 60px;
}

.table_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.table_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  min-height: 890px;
}

.feynman_title {
  width: 648px;
  margin: 100px auto 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
}

.feynman_subtitle {
  margin: 70px auto auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman_link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

.feynman_img {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
  z-index: 3;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600; 
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  z-index: 100;
  margin-bottom: 90px;
  padding-bottom: 15px;
}

.kaufman_triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  z-index: -1;
}

.table_cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  display: flex;
  z-index: 4;
  flex-direction: column;
}

.table_heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  z-index: 3;
}

.table_text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  z-index: 2;
}



.footer {
  background-color: #1f1f1f;
  display:flex;
  min-height: 350px;
  box-sizing: border-box;
  margin-bottom: 0; 
  padding-top: 0;
}

.footer_columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 250px;
  justify-content: space-between;
  width: 90%;
  margin:60px auto 40px auto;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer_author {
  color:#fff;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  padding-bottom: 0px;
}

.footer_column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.footer_column-heading {
  color:#fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom:0;
  padding: 0;
}

.footer_column-links {
  color:white;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  margin-top:20px;
}

.footer_column-link {
  color:#fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  margin-top:0px;
  padding-top:0;
}

.footer_column-link_style_social {
  color:grey;
}

.footer_social-icon {
  width: 16px;
  height: 16px;
  padding-right:10px;
}